/**
* 聊天界面的左边栏
*/

/**
* 
	聊天界面指：1）/user/:id 和 2）/group/:id

	聊天界面总结构：
	左边栏｜主界面【主要有 1）聊天界面；2）信息界面】

	左边栏结构：
	-----------------------
	顶栏
	-----------------------
	列表项1
	列表项2
	...
	-----------------------
	用户信息展示 | 退出登录按钮
	-----------------------
*/

.room-chat-list,
.friend-chat-list {
	width: 100%;
	height: 100%;
	overflow: hidden;
	background-color: transparent;

	* {
		padding: 0;
		margin: 0;
	}

	color: $fontColorDeep;

	/**
	* 顶栏
	*/
	.room-chat-header,
	.friend-chat-header {
		padding: 20px;
		border-bottom: 2px solid $themeColorDeep;
	}

	.chat-session-list {
		padding: 20px;

		:deep(.el-skeleton__item) {
			// fixme: delete me when the list is down
			background-color: $themeColorLight;
		}
	}

	/**
	* 用户信息展示，左侧边栏最下方的小卡片
	*/
	.user-info-display {
		padding: 20px;
		border-top: 2px solid $themeColorDeep;
		display: flex;
		align-items: center;
		justify-content: space-between;

		.user-info {
			display: flex;
			justify-content: center;
			width: 50%;

			img { // 用户头像
				width: 40px;
				height: 40px;

				background-color: $emphasisColorA;
				border-radius: 50%;
			}
			.user-name-id { // 昵称和id
				margin: auto;
				font-size: 12px;
				#user-name {
					color: $fontColorLight;
					font-weight: bolder;
				}
				#user-id {
					color: $fontColorDeep;
				}
			}
		}

		/**
		* 退出登录小图标（左侧栏的最下面，靠右）
		*/
		.user-logout {
			width: 15px;
			height: 15px;

			background-color: $emphasisColorA;
			border-radius: 50%;
			border: 3px solid $emphasisColorA;

			cursor: pointer;

			&:active{
				background-color: $fontColorDeep;
				border-color: $fontColorDeep;
			}
		}
	}
}
