// 配色暂定方案：
// 强调色：两个，最好是两个互补色，用于按钮和图标
// 	•	#819C8A morning blue 绿
// 	•	#E0AFA0 melon 粉
// 主题色：三个，同一色调的不同深浅（棕色系）
// 	•	#151414 eerie black 深
// 	•	#2A2728 raisin black 中
// 	•	#3F3B3C jet 浅
// 字体颜色：浅色两个，一深一浅
// 	•	#E7E5DA alabaster 深
// 	•	#F4F3EE alabaster 浅

$themeColorDeep: #151414;
$themeColorMedium: #2a2728;
$themeColorLight: #3f3b3c;

$fontColorDeep: #cfcab5;
$fontColorMedium: #909399;
$fontColorLight: #f4f3ee;

$emphasisColorA: #819c8a;
$emphasisColorB: #e0afa0;

* {
	margin: 0;
	padding: 0;
}
html,
body {
	height: 100%;
	width: 100%;

	background-color: $themeColorDeep;
}
